<div class="container">
    <div class="text-center">
 <h3>{{h3}}</h3>
  <p>{{p}}</p> 
  <h4>{{h4}}</h4>
 </div>
 <div class="row testone-main-div"  >
     <div  class="col-md-8 testone-button-div col-md-offset-3">
         <div  class="col-md-4">
         <label for="language">{{chooselang}} :</label>
            </div>
          <div  class="col-md-4">
         <select class="form-control" id="language" name="language" ng-model="optionValue" ng-change="setRequired()" ng-init="optionValue='EN'">
            <option value="0" selected="selected">Please select</option>
              <option value="EN">English</option>
              <option value="FR">French</option>
            </select>
            </div>
     </div>
     </div>
 <div class="row testone-main-div"  >
 <app-directive ng-repeat="button in buttons" text="{{button.text}}" count="{{count}}"></app-directive>
</div>
<div class="text-center marTop5">
 <a class="col-green" ng-click="back()">{{an}}</a>
 </div>
</div>