
@media only screen and (min-width: 30em) {
.mod01 {

 width: 100%;
    height: 100%;
   
    background-size: cover;
    background-position: top center;

	 .column{
	  color: #444;
	    width: 50%;
	  }

&:after,
&:before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    }

}
}